__pycache__
outputs
inputs
intermediates
experiments
dist
src/openmethane_prior.egg-info/
.env
.idea

!outputs/README.md
!inputs/README.md
!intermediates/README.md
.vscode/launch.json
.vscode/settings.json
domain.ipynb

# Virtual environment
venv
.venv