__pycache__
outputs
inputs
intermediates
experiments
.env
.idea

!outputs/README.md
!inputs/README.md
!intermediates/README.md
!intermediates/gfas-download.nc
.vscode/launch.json
.vscode/settings.json
domain.ipynb

# Virtual environment
venv
.venv